<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>在线接口测试工具</title>
    <link rel="shortcut icon" href="http://www.36nu.com/36nu.ico">
    <link rel="stylesheet" href="./bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="http.css">
    <link rel="stylesheet" type="text/css" href="./jquery.dialogbox.css">
    <link rel="stylesheet" href="./jsoneditor.css">
    <style>
        #param_content{
            display: none;
        }
        #add_url_parameter_hide{
            display: none;
        }
    </style>
</head>

<body>
<div class="top navbar-inverse">
    <div class="container">
        <nav class="collapse navbar-collapse bs-navbar-collapse" rol="navigation">
            <ul class="nav navbar-nav navbar-right manuscript">

            </ul>
        </nav>
    </div>
</div>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">

            <a href="#" class="navbar-brand"
               style="font-style: italic;margin-left: 10px;line-height: 70px;letter-spacing: 4px;color: #00d1b2;font-size: 20px">July Api Test</a>
        </div>
        <nav class="collapse navbar-collapse " role="navigation">


        </nav>
    </div>
</header>
<div class="container wrap page-idx" id="page_idx">
    <div class="row">
        <div class="pull-left wrap-left">

            <div class="clearfix shadow-box mod-info-flow">

                <div class="main-http">
                    <div id="params_start" class="table">
                        <div class="pull-left row_h">
                            <select id="api_method" class="select form-control">
                                <option value="GET">GET</option>
                                <option value="POST" selected="">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="PATCH">PATCH</option>
                                <option value="DELETE">DELETE</option>
                                <option value="COPY">COPY</option>
                                <option value="HEAD">HEAD</option>
                                <option value="OPTIONS">OPTIONS</option>
                                <option value="LINK">LINK</option>
                                <option value="UNLINK">UNLINK</option>
                                <option value="PURGE">PURGE</option>
                            </select>
                        </div>
                        <div class="pull-left row_url">
                            <input type="text" class="input-text form-control" id="http_url_input" title="HTTP接口URL"
                                   alt="HTTP接口URL" value="" placeholder="http://">
                        </div>
                        <button class="btn btn-success btn-left" id="http_test" type="button">发送请求</button>
                    </div>
                    <table id="params_table" class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="2">Body参数名称</th>
                        </tr>
                        <tr id = "param_content">
                            <th colspan="2"><div id="jsoneditor1"></div></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="params_end">
                            <td colspan="2">
                                <button class="btn btn-warning" id="add_url_parameter_show" type="button">添加参数</button>
                                <button class="btn btn-warning" id="add_url_parameter_hide" type="button">隐藏参数</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="headers_table" class="table table-bordered">
                        <thead>
                        <tr>
                            <th width="35%">Header名称</th>
                            <th>Header值</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="headers_end">
                            <td colspan="2">
                                <button class="btn btn-warning" id="add_api_headers" type="button">添加Header</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div id="jsoneditor"></div>
                    <table id="response_table" class="table table-bordered">

                        <!--<thead>
                            <tr>
                                <th width="35%">Response</th>
                                <th>Response Body</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr>
                                <td valign="top" id="response_header"></td>
                                <td valign="top">
                                    <textarea id="output"></textarea>
                                </td>
                            </tr>
                        </tbody>-->
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
<input type="hidden" name="_token" id="_token" value="FVcorniV5FHDXSfiSG7QdRcqpR69ybxfJn0SCDeO">
<script src="common.js" type="text/javascript"></script>
<script type="text/javascript" src="jquery.dialogbox.js"></script>
<script type="text/javascript" src="jsoneditor.js"></script>
<script type="text/javascript" src="http.js"></script>
<script type="text/javascript" src="jquery.cookie.min.js"></script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d31ba97970242b1259c10ec6fbc20faa";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>