<html>
<head>
    <meta charset="UTF-8">
    <title>websocket测试</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <style type="text/css">
        h3, h4 {text-align: center;}
    </style>
</head>
<body>
<h3>WebSocket测试，客户端接收到的消息如下：</h3>
<div style="text-align: center">
<textarea id="messageId" readonly="readonly" cols="150" rows="40"></textarea>
</div>

<script type="text/javascript">
    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("浏览器不支持WebSocket");
    } else {
        console.log("浏览器支持WebSocket");
        socket = new WebSocket("ws://localhost:8080/ws/server");
        //连接打开事件
        socket.onopen = function () {
            console.log("Socket 已打开");
            socket.send("消息发送测试");
        };
        //收到消息事件
        socket.onmessage = function (msg) {
            $("#messageId").append(msg.data + "\n");
            console.log(msg.data);
        };
        //连接关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            alert("Socket发生了错误");
        }
        //窗口关闭时，关闭连接
        window.unload = function () {
            socket.close();
        };
    }
</script>

</body>
</html>